In [36]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [37]:
data= pd.read_csv('cardio_train.csv', delimiter=';')
data
#show data

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [38]:
data.info()
#show data types and variable names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [39]:
print(data.shape)
print(data.dtypes)
#show shape and data types

(70000, 13)
id               int64
age              int64
gender           int64
height           int64
weight         float64
ap_hi            int64
ap_lo            int64
cholesterol      int64
gluc             int64
smoke            int64
alco             int64
active           int64
cardio           int64
dtype: object

In [40]:
if data['age'].iat[0] > 100:
    data['age'] = data['age'].div(365)

#divide age by 365 to get age in years (previously data of age was in days) 
#if statement is to protect the data from being divided too many times if we keep running it

data['age']
#first value should be 50.3....

0        50.391781
1        55.419178
2        51.663014
3        48.282192
4        47.873973
           ...
69995    52.712329
69996    61.920548
69997    52.235616
69998    61.454795
69999    56.273973
Name: age, Length: 70000, dtype: float64

In [41]:
for var in data[["gender","cholesterol","gluc","smoke","alco","active","cardio"]]:
    data[var] = data[var].astype('category')

print(data.dtypes)
#change these data types to category as they are not numerical data

id                int64
age             float64
gender         category
height            int64
weight          float64
ap_hi             int64
ap_lo             int64
cholesterol    category
gluc           category
smoke          category
alco           category
active         category
cardio         category
dtype: object

In [42]:
data['gender'] = data["gender"].replace([1,2],["female","male"])
data['cholesterol'] = data["cholesterol"].replace([1,2,3],["normal","above normal","well above normal"])
data['gluc'] = data["gluc"].replace([1,2,3],["normal","above normal","well above normal"])
data['smoke'] = data["smoke"].replace([1,0],["Yes","No"])
data['alco'] = data["alco"].replace([1,0],["Yes","No"])
data['active'] = data["active"].replace([1,0],["Yes","No"])
data['cardio'] = data["cardio"].replace([1,0],["Yes","No"])
data
#change how categorical data is described so its easier for us to read

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50.391781,male,168,62.0,110,80,normal,normal,No,No,Yes,No
1,1,55.419178,female,156,85.0,140,90,well above normal,normal,No,No,Yes,Yes
2,2,51.663014,female,165,64.0,130,70,well above normal,normal,No,No,No,Yes
3,3,48.282192,male,169,82.0,150,100,normal,normal,No,No,Yes,Yes
4,4,47.873973,female,156,56.0,100,60,normal,normal,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,52.712329,male,168,76.0,120,80,normal,normal,Yes,No,Yes,No
69996,99995,61.920548,female,158,126.0,140,90,above normal,above normal,No,No,Yes,Yes
69997,99996,52.235616,male,183,105.0,180,90,well above normal,normal,No,Yes,No,Yes
69998,99998,61.454795,female,163,72.0,135,80,normal,above normal,No,No,No,Yes
69999,99999,56.273973,female,170,72.0,120,80,above normal,normal,No,No,Yes,No